/*
!/app/
/app/*
!/app/src/
/app/src/*
!/app/src/main/
/app/src/main/*
!/app/src/main/java/
/app/src/main/java/*
!/app/src/main/java/com/
/app/src/main/java/com/*
!/app/src/main/java/com/example/
app/src/main/java/com/example/*
!/app/src/main/java/com/example/abbas/
/app/src/main/java/com/example/abbas/*
!/app/src/main/java/com/example/abbas/tp2_inf8405_version_2_1/
!/app/src/main/AndroidManifest.xml
!/app/src/main/res/
